.nav {
    display: flex;
    justify-content: space-between;
    max-width: 100vw;
    min-height: 3vh;
}

.ul {
    display: flex;
    justify-content: space-between;
    list-style:none;
    margin: 0;
}
